<div class="container borders">
	<div class="col-md-12 col-sm-12 ">
		<div class ="col-md-4">
			<h3><span style="color"":"black" ;"font-weight":"bold">Collaborators</span>
    		</h3>
    	</div>
		 <div class="col-md-5 ">
		    <h3 class="liketext"><span style="color":"black";"font-weight":"bold;">Fliters</span>
		    </h3>
				<div class="btn-group gap">
		 			<button class="btn btn-default shift" ng-click="taskFilter = {priority: 'Showstopper'}">Showstopper</button>
	      			<button class="btn btn-default " ng-click="taskFilter = {priority: 'High'}">High</button>
	      			<button class="btn btn-default " ng-click="taskFilter = {priority: 'Medium'}">Medium</button>
				</div>
		</div>
		<div class="col-md-4 ">
		<h3><span style="color":"black";"font-weight":"bold">Task Deadlines</span></h3>
		</div>
	</div>
</div>

 
<div class="row">  
    <div class="col-md-12 ">    
    	<div class="col-md-4 ">    
    		<div class="col-md-4 ">
    			<span ng-repeat="coordinator in details.coordinators ">
      			<br/>
      				<h4><span>{{coordinator.coordinatorName}}</span></h4>
          	 		<span><img src="{{coordinator.coordinatorImage}}" width="50px" height : "50px"/></span>
      			</span>      
    		</div>
    	
    </div>     
    
    <div class="col-md-5">
      <div class="col-md-2 ">,
    	  <span ng-repeat="coordinator in details.tasks | filter:taskFilter ">
      		<br>
      		<h3><span><img src="{{coordinator.status}}"></span></h3>
      		</span>
    </div>    
    
    <div class="col-md-10 ">
    	<span ng-repeat="coordinator in details.tasks | filter:taskFilter ">			
			<span>{{coordinator.description}}</span>		     
		</span>		
    </div>
    </div>
    
    <div class="col-md-3">
        <span ng-repeat="coordinator in details.tasks | filter:taskFilter">
   			<span>Created Date:{{coordinator.createdOn}}</span>
   			 <span>Due Date:{{coordinator.dueDate}}</span>
				<span>Assign To:{{coordinator.assignTo}}</span>
  	  	</span>    
    </div>      
    </div>   
  </div>
</div>
