


<div class="jumbotron">
  <p ng-bind="message"></p>
</div>

<div class="row">
<div class="col-md-12">
<table  class="container table table-bordered " >
	<thead>
	<tr>	
		

		<th>Collaborators</th>
		<th>Description</th>
		<th>Task DeadLines</th>
	
	</tr>
	</thead>

	 
		 <tr>
			<td >
				<div><p>{{details.coordinators.coordinatorName}}</p>
					<p><img src="{{details.coordinators.coordinatorImage}}"></p>
				</div>
			</td>
			<td ><div ng-repeat="task in details.tasks">
			<p>	{{task.taskName}}</p>
			<p>	{{task.taskDescription}}</p> 
			</div>
			</td>
			
			<td ><div ng-repeat="task in details.tasks">
			<p>	Assigned To :{{task.assignedTo}}</p>
			<p>	Created On :{{task.createdOn}}</p>
			<p> Due Date :{{task.dueDate}}</p>  
			</td>		
			
		</tr>
	
</table>
</div>
</div>